# .NET
backend/**/bin/
backend/**/obj/
backend/*.user

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/out-tsc/
frontend/coverage/
npm-debug.log*

# IDE
.vs/
.vscode/
*.suo

# Misc
*.log
